*{
    margin:0px;
    padding: 0px;
}

.container{
    background-color:#0A1921;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-container{

    width:280px;
    display: flex;
    flex-direction: column;
}

.calc-container>input,.calc-container>button{
    padding: 20px;
    border: 0px;
}
.calc-container>button{
    background-color: rgb(218, 76, 100);
}
.calc-container>button:hover{
    cursor: pointer;
}
.calc-container>input{
    background-color: rgb(185, 179, 179);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap:2px;
}
.grid-container>button{
    background-color: #0D2835;
    padding:20px;
    text-align: center;
    font-size: 19px;
    color: white;
    border: none;
}

.grid-container> .bottom-grid{
    display: flex;
    background-color: #0A1921;
    justify-self: stretch;
    grid-column: 1/5;
    gap:2px;
    padding: 0px;
}
.grid-container>.bottom-grid>button{
    background-color: #0D2835;
    padding: 20px;
    flex-grow: 1;
    gap:1px;
    color:white;
    border: none;
}
input{
    font-size: 30px;
}
button:hover{
    cursor: pointer;
}